.home-container {
    background-color: grey;
    margin-top: 80px;
    width: 100%;
}

.collection-container {
    background-color: yellow;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
}

.home-seasonal-title {
    width: 80%;
    border: solid red 1px;
    background-color:burlywood;
    text-align: center;
}

.home-gallery {
    width: 80%;
    border: solid yellow 1px;
    background-color: aqua;
}